<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TreatWoundsTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TreatWoundsTool.Properties.Settings>
            <setting name="difficulty" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="wardMedic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="riskySurgery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="partyCount" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="medicineBonus" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="permittableWounds" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="pauseInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="p1name" serializeAs="String">
                <value>Player 1</value>
            </setting>
            <setting name="p2name" serializeAs="String">
                <value>Player 2</value>
            </setting>
            <setting name="p3name" serializeAs="String">
                <value>Player 3</value>
            </setting>
            <setting name="p4name" serializeAs="String">
                <value>Player 4</value>
            </setting>
            <setting name="p5name" serializeAs="String">
                <value>Player 5</value>
            </setting>
            <setting name="p6name" serializeAs="String">
                <value>Player 6</value>
            </setting>
        </TreatWoundsTool.Properties.Settings>
    </userSettings>
</configuration>